@model HTMLHELPERS1.Models.ViewModels.PeopleViewModels

@{
    ViewBag.Title = "Mostrar";
}
<h1>Tus Datos</h1>


<h4>@Html.Label("Cedula")</h4>
<h4>@Model.Cedula</h4>

<h4>@Html.Label("Nombre")</h4>
<h4>@Model.Nombre</h4>

<h4>@Html.Label("Apellido")</h4>
<h4> @Model.Apellido</h4>

<h4>@Html.Label("Edad")</h4>
<h4>@Model.Edad</h4>

<h4>@Html.Label("Telefono")</h4>
<h4>@Model.Telefono</h4>

<h4>@Html.Label("Correo")</h4>
<h4>@Model.Email</h4>

<h4>@Html.Label("Genero")</h4>
<h4>@Model.Genero</h4>

<h4>@Html.Label("Hobby")</h4>
<h4>@Model.Bailar</h4>
<h4>@Model.Pescar</h4>
<h4>@Model.Video_juego</h4>
<h4>@Model.Leer</h4>

